---
layout: page
permalink: /
---

<img class="avatares" src="/conversacion-eafit/assets/home.jpg" alt="my photo"/>
<p align="right">Elaborado por: <i>Michelle-Grecille Osepa-Mazo</i></p>
<br>
<div>
<p align="center">En plena celebración de la Pascua, cuando la solemnidad católica más importante invade las calles de un pueblo
    de Bogotá, dos hombres discuten sobre una actividad al parecer poco usual para el ambiente festivo del momento.
    Una sátira construida al borde del camino es la trama que se teje en este formato de <i>Hojas sueltas</i>,
    a través del cual, muy seguramente, algún religioso de la época quiso catequizar sobre las prácticas de
    un día santo.</p>
<hr width=100%  align="right"  size=10   color="#CE5747">
<p align="justify">En el marco del curso de <i>Edición digital</i>, del pregrado de Literatura de la <a href="https://www.eafit.edu.co/">Universidad EAFIT</a>,
    presentamos una edición en formato digital del cuento "Conversación entre un zapatero 
    y un agrícola de Facatativá sobre la cazería del Sábado Santo", preparada por los estudiantes del curso
    utilizando el estándar TEI (Text Encoding Initiative). El cuento fue publicado en 1839 en Bogotá
    por la imprenta José Ayarza, y su autoría permanece anónima.</p>
<p align="justify">Este documento se encuentra alojado en las bibliotecas digitales del 
    <a href="https://babel.banrepcultural.org/digital/collection/p17054coll10/id/682">Banco de la República</a>
    y de <a href="http://www.cervantesvirtual.com/obra/conversacion-entre-un-zapatero-y-un-agricola-de-facatativa-sobre-la-cazeria-del-sabado-santo-856343/">Miguel de Cervantes</a>;
    además, está en el <a href="https://repository.eafit.edu.co/">Repositorio institucional</a> de la Universidad EAFIT, versión
    que sirvió de base para la presente edición. Como en estos sitios solo se ofrecen versiones digitalizadas
    del archivo histórico en formato PDF, los editores ofrecemos ahora una versión en XML, lo que facilitará 
    la recuperación de la información y el almacenamiento en la web. Para conocer los criterios editoriales que fueron
    considerados se puede consultar la <a href="/conversacion-eafit/nota">Nota editorial</a>.</p>
<p align="justify">Además, cada editor escribió una reseña crítica, en las que se consideraron diferentes perspectivas
    de lectura y de aproximación al cuento. En vista de que se encuentra poca información sobre la obra,
    estas <a href="/conversacion-eafit/resenas-criticas">reseñas</a> enriquecen la presente edición
    permitiendo que los lectores puedan entrar con otras voces en esta conversación.</p>
</div>
